<footer class="py-12 mt-12 border-t border-[var(--border-color)] flex flex-col items-center justify-center w-full text-sm">
    <div class="flex flex-row gap-x-6 mb-2">
        <a href="https://github.com/alvarorc19" target="_blank" rel="noopener noreferrer" class="hover:text-[var(--accent-color)]">
            GitHub
        </a>
        <a href="https://www.linkedin.com/in/alvaroromerocast/" target="_blank" rel="noopener noreferrer" class="hover:text-[var(--accent-color)]">
            LinkedIn
        </a>
        <a href="mailto:alvaroromerocast@gmail.com" class="hover:text-[var(--accent-color)]">
            Email
        </a>
    </div>
    <span class="opacity-70 italic">
        © {new Date().getFullYear()} Álvaro Romero Castillo.
    </span>
</footer>
